[submodule "EEL418"]
	path = EEL418
	url = https://github.com/pedromxavier/EEL418
[submodule "EEL770"]
	path = EEL770
	url = https://github.com/pedromxavier/EEL770
[submodule "EEL816"]
	path = EEL816
	url = https://github.com/pedromxavier/EEL816
[submodule "EEL882"]
	path = EEL882
	url = https://github.com/pedromxavier/EEL882
[submodule "EEL480"]
	path = EEL480
	url = https://github.com/pedromxavier/EEL480
[submodule "COS360"]
	path = COS360
	url = https://github.com/pedromxavier/COS360
[submodule "COC473"]
	path = COC473
	url = https://github.com/pedromxavier/COC473
[submodule "COC472"]
	path = COC472
	url = https://github.com/pedromxavier/COC472
[submodule "EEL879"]
	path = EEL879
	url = https://github.com/pedromxavier/EEL879.git
[submodule "MAA355"]
	path = MAA355
	url = https://github.com/pedromxavier/MAA355
[submodule "FCA218"]
	path = FCA218
	url = ./FCA218
